/* Styles of dashboard page ...................................*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

#dash-body{
    background: #FAFAFA;
    margin: 0px;
    padding: 0px;
    font-family: "Nunito Sans", sans-serif;
    font-family: "Questrial", sans-serif;
    font-family: "NRoboto", sans-serif;
}

.head{
    position: sticky;
    background: #FFFFFF;
    padding: 0.5rem 0.5rem ;
    /* width: 100vw; */
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.company{
    display: flex;
    justify-content: space-between;
    width: 11rem;
}

.search{
    display: flex;
    align-items: center;
    width: 40%;
    /* border-bottom: 0px solid rgba(128,128,128,128) ; */

}
.search img{
    width: 1.2rem;
}

.search input{
    border: none;
    margin-left: .4rem;
    font-size: 1.1rem;
}

.search input:focus{
    outline: none;
}

.noti-pro{
    display: flex;
    justify-content: space-between;
    width: 13rem;
}

.profile{
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.sidebar{
    background-color: #FFFFFF;
    width: 15%;
    min-height: 100vh;
    z-index: 2;
    transition: 600ms;
    /* left: 0; */
    /* top: 9vh; */
    position: fixed;
    /* align-items: center; */
    /* overflow: hidden; */
    /* display: flex; */
}

.dash-menus{
    font: Roboto;
    position: relative;
    top: 2px;
    /* align-items: center; */
    
}

.dash-menu{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.dash-menu:hover{
    cursor: pointer;
    background: #c8242f3b;
    color:#C8242F;
}

.dash-menu img{
    height: 35px;
    width: 35px; 
    display: flex;
}

.dash-menu p{
    margin-top: 9px;
    display: flex;
    margin-left: 10px;
}

.active-menu {
    background-color: #c8242f3b;
    color: #C8242F;
}

.active-menu p{
    margin-top: 9px;
    display: flex;
    margin-left: 10px;
}

.container{
    margin-left: 18%;
    background: #FAFAFA;
    position: relative;
    height: 80vh;
    width: 80%;
}

.dash{
    /* top: 20vh; */
    width:0vw;
    height: 3vh;
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    top: 1vh;
    font: normal normal medium 30px/39px Roboto;
}

.products{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
}

.products img{
    width: 3rem;
}

.num{
    font-weight: bolder;
    font-size: xx-larger;
}

.products p{
    margin-left: 10px;
}

.box{
    background: #FFFFFF;
    border-radius: 5px;
    top: 0.5rem;
    display: flex;
    align-items: center;
    width: 10rem;
    padding: 1rem 1rem;
    justify-content: space-between;
}

.num{
    font-weight: bolder;
}

.sale-contry{
    width: 75%;  
    display: flex;
    justify-content: space-between;
}

.sl-cntry{
    background-color: #FFFFFF;
    padding: 0rem 1rem;
    /* padding: 0rem 1rem; */
    margin-top: 0rem;
    border-radius: 5px;
}

.sale-head{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.sale{
    width: 100%;
    margin-right: 6%;
}

#sl{
    font: normal normal normal 22px/29px Roboto;
    color: #3E3E3E;
    font-weight: 800;
}

.sale-graph img{
    width: 100%;
    height: 60%;
}

.time{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    color: #ADADAD;
    font: normal normal normal 12px/16px Roboto;
}

#year{
    color: #C8242F;
    text-decoration: 2px solid #C8242F underline;
}

.title p{
    font: normal normal normal 22px/29px Roboto;
    color: #3E3E3E;
    font-weight: 700; 
}

.cntry{
    width:60%;
}

.pie-chart{
    padding: 0;
}
.cntry-1{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.cntry-2{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.circle{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    /* display: flex; */
}
  .red-dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #C8242F;
    justify-content: space-between;
    margin-right: 1rem;
  }

  .row1 , .row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row1 div
  {
    display: flex;
    align-items: center;
  }

  .green-dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #A2B86C;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  .row2 div{
    display: flex;
    align-items: center;
  }
  .orange-dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color:#F16C20;
    justify-content: space-between;
    margin-right: 1rem;
  }

  .yellow-dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color:#EBC844;
    justify-content: space-between;
    margin-right: 2.2rem;
  
}

.invoices{
    width: 75%;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-top: 1.5rem;
}

.invoic-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.5rem;
}

#invoice{
    /* margin-right: 35rem; */
    font: normal normal normal 22px/29px Roboto;
    color: #3E3E3E;
    font-weight: 800;
}

#view{
    color: #C8242F;
    font: normal normal normal 12px/19px Roboto;
}

table {
    background-color: #FFFFFF;
    margin-top: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding-top: 20px;
    margin-left: 1rem;
}

#inv{
    color: #3E3E3E;
    font: normal normal medium 22px/29px Roboto;
    font-size: 22px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #E9E9E9;
}

th{
    color: #ADADAD;
    font-weight: 100;
}

td{
    color: #3E3E3E;
    padding: 15px;
}

.paid{
    color: #3CDD5F;
    background-color:#EBFFEF;
    text-align: center;
    margin: 0;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.failed{
    color: #FF4545;
    background-color:#FFF5F5;
    text-align: center;
    margin: 0;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.pending{
    color: #BABABA;
    background-color:#F8F8F8;
    text-align: center;
    margin: 0;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;

}

  /* Media Query for responsive design */

@media screen and (max-width:1550px) and (min-width:900px){
      
    .container{
        margin-left: 20%;
    }
    .products{
        margin: 1rem;
        width: 75% !important;
        flex-wrap: wrap;
        height: 25vh;
    }
    .sale{
        width: 50%;
    }
    .cntry{
        width: 45%;
    }
}

@media screen and (max-width:1260px) and (min-width:850px){
    .sale-contry{
        margin-top: 3rem;
    }
}

@media screen and (max-width:1100px) and (min-width:850px){
    .sidebar{
        width: 10%;
        align-items: center;
    }
    .dash-menu{
        width: 40%;
    }
    .dash-menu p{
        display: none;
    }
    .container{
        margin-left: 14%;
    }
    .dash{
        top: 0vh;
    }
}

@media screen and (max-width:900px) and (min-width:850px){
    
    .dash-menu img{
        width: 25px;
        height: 25px;
    }
    .container{
        margin-left: 13%;
    }
    .products{
        width: 75% !important;
        flex-wrap: wrap;
        height: 30vh;
    }

    .sale-contry{
        flex-wrap: wrap;
    }
    .cntry{
        margin-top:5%
    }
}

@media screen and (max-width:850px){

    .sidebar{
        visibility: hidden;
    }
    .container{
        margin-left: 5%;
    }
    .dash{
        top: 1%;
    }
    .products{
        width: 75% !important;
        flex-wrap: wrap;
        padding: 0;
    }
    .box{
        margin-top: 2rem;
      }

    .sale-contry{
        flex-direction: column;
        flex-wrap: wrap;
        margin-top:16rem;
    }

    .sale-head{
        overflow:visible;
    }

    .sale-graph img{
        width: 100%;
    }

    .cntry{
        margin-top: 10%;
        width: 100%;
    }
    
    .pie-chart{
        text-align: center;
        width: 100%;   
    }

    table{
        width: 100%;
    }
} 

@media screen and (max-width:850px) and (min-width:768px)
{
    
}

@media screen and (max-width:850px) and (min-width:768px)
{
    .sale-contry{
        margin-top: 8rem;
    }
}

@media screen and (max-width:515px) and (min-width:512px)
{
    .sale-contry{
        margin-top: 16rem;
    }
}
@media screen and (max-width:511px)
{
    .sale-contry{
        margin-top: 35rem;
    }
}
@media screen and (max-width:400px)
{
    .row1, .row2{
        flex-direction: column;
    }
}